<!DOCTYPE html>
<html>

<head>
    <title>Sabyasachi Chatterjee</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://kit.fontawesome.com/9e32fd855e.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="body-header">
        <nav>
            <ul class="horizontal-list text-center nav-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div id="name-social-container">
            <div class="text-center">
                <h1 id="my-name">Sabyasachi Chatterjee</h1>
            </div>
            <div>
                <ul class="horizontal-list text-center social-icons">
                    <li><a href="https://www.linkedin.com/in/sabyasachi-chatterjee/"><i class="fa-brands fa-linkedin"></a></i></li>
                    <li><a href="#"><i class="fa-brands fa-stack-overflow"></i></a></li>
                    <li><a href="https://github.com/PsycoLunatic"><i class="fa-brands fa-github"></i></a></li>
                    <li><a href="https://www.instagram.com/yellowflashwizz/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>

        <section id="about">
            <div id="about">
                <div id="my-image">
                    <img src="css/yellowflash.png" alt="">
                </div>
                <p id="about-para">
                    I am a highly motivated and results-oriented professional with a passion for <span class="text-highlight"> Development, Data Science, and Cybersecurity</span>. With a strong foundation in HTML, CSS, and JavaScript, as well as expertise in the MERN (MongoDB, Express, React, Node.js) stack, I bring a unique blend of skills that make me a valuable asset to any organization.

Throughout my career, I have consistently demonstrated my ability to achieve key accomplishments and deliver relevant achievements in these fields. My skills encompass a wide range of technologies, and I have a proven track record of producing outstanding results and outcomes. I thrive in fast-paced and challenging environments, where I can leverage my problem-solving skills and innovative thinking to drive success.

As an excellent communicator, I have a knack for building strong relationships with clients, colleagues, and stakeholders. I believe in fostering a collaborative and inclusive work environment, where diverse perspectives are valued, and teamwork is prioritized. My strong leadership skills allow me to motivate and inspire others to achieve their full potential.

Adaptability is one of my core strengths, and I am comfortable navigating through change and uncertainty. I eagerly embrace new technologies and industry trends, constantly seeking opportunities for professional growth and development. I am dedicated to staying at the forefront of advancements in my field and applying them to deliver exceptional results.

In addition to my technical skills, I possess a keen business acumen and a strategic mindset. I understand the importance of aligning my work with the overall goals and objectives of the organization. I am a proactive problem-solver, always looking for ways to streamline processes, improve efficiencies, and drive bottom-line results.

Above all, I am passionate about making a meaningful impact and contributing to the success of the organization.


                </p>
            </div>
        </section>

        <section id="skills">
            <h1 class="section-heading mb75px ">
                <span>
                    <i class="fas fa-chalkboard-teacher"></i>
                </span>
                <span> SKILLS </span>
            </h1>

            <div class="skills-display">

                <div class="skill-progress">
                    <div class="hundred-percent mb-maroon">
                        <div class="skill-name">
                            <span> Python </span>
                        </div>
                    </div>
                </div>
                <div class="skill-progress">
                    <div class="ninety-percent mb-purple">
                        <div class="skill-name">
                            <span> HTML </span>
                        </div>
                    </div>
                </div>
                <div class="skill-progress">
                    <div class="eighty-five-percent mb-brown">
                        <div class="skill-name">
                            <span> CSS </span>
                        </div>
                    </div>
                </div>
                <div class="skill-progress">
                    <div class="eighty-percent mb-navy">
                        <div class="skill-name">
                            <span> Javascript </span>
                        </div>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="eighty-percent mb-teal">
                        <div class="skill-name">
                            <span> MongoDB </span>
                        </div>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="eighty-percent mb-mint">
                        <div class="skill-name">
                            <span> ExpressJs </span>
                        </div>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="eighty-percent mb-dark-green">
                        <div class="skill-name">
                            <span> ReactJs </span>
                        </div>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="eighty-percent mb-light-green">
                        <div class="skill-name">
                            <span> NodeJs </span>
                        </div>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="ninety-percent mb-sage">
                        <div class="skill-name">
                            <span> Data Science </span>
                        </div>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="ninety-percent mb-skin">
                        <div class="skill-name">
                            <span> Cybersecurity </span>
                        </div>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="eighty-percent mb-warm">
                        <div class="skill-name">
                            <span> Digital Forensics </span>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section id="experience">

            <h1 class="section-heading mb75px">
                <span>
                    <i class="fas fa-briefcase"></i>
                </span>
                <span> Work Experience </span>
            </h1>

            <div class="timeline">

                <div class="timeline-box ">
                    <div class="timeline-container">
                        <div class="timeline-logo">
                            <img
                                src="">
                        </div>
                        <h3 class="experience-designation  m0 m-blue"> Intern </h3>
                        <h4 class="experience-company-name"> Tactical Cyberrange Simulations </h4>
                        <h5 class="experience-duration m0"> January 2023 - June 2023 </h5>

                        <p class="experience-description text-align-justify"> Worked as a Digital Forensics intern. Learned how penetration testing is performed and different mechanisms to defend against it. </p>
                    </div>
                </div>

                <div id="timeline-divider">
                    <div class="timeline-traveller">
                        <div>
                            <i class="fas fa-plane"></i>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section id="education">

            <h1 class="section-heading mb75px">
                <span>
                    <i class="fas fa-graduation-cap"></i>
                </span>
                <span> Education </span>
            </h1>

            <div class="timeline">

                <div class="timeline-box left ">
                    <div class="timeline-container">
                        <div class="timeline-logo">
                            <img
                                src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000032_1550746413_iiitd_logo.png">
                        </div>
                        <h3 class="experience-designation  m0 m-blue"> ICSE </h3>
                        <h4 class="experience-company-name "> Douglas Memorial H.S School </h4>
                        <h5 class="experience-duration m0"> April 2016 - April 2018 </h5>

                        <p class="experience-description text-align-justify">Passed out with 91.75%</p>
                    </div>
                </div>

                <div class="timeline-box right ">
                    <div class="timeline-container">
                        <div class="timeline-logo">
                            <img
                                src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000032_1550746413_iiitd_logo.png">
                        </div>
                        <h3 class="experience-designation  m0 m-blue"> ISC </h3>
                        <h4 class="experience-company-name "> Douglas Memorial H.S School </h4>
                        <h5 class="experience-duration m0"> April 2018 - April 2020 </h5>
                        <p class="experience-description text-align-justify">Passed out with 91.25%</p>
                    </div>
                </div>

                <div class="timeline-box left ">
                    <div class="timeline-container">
                        <div class="timeline-logo">
                            <img
                                src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000032_1550746413_iiitd_logo.png">
                        </div>
                        <h3 class="experience-designation  m0 m-blue"> B.Tech </h3>
                        <h4 class="experience-company-name "> University of Engineering and Management, Kolkata </h4>
                        <h5 class="experience-duration m0"> June 2020 - June 2024 </h5>

                        <p class="experience-description text-align-justify">Average SGPA upto 6th sem: 9.62</p>
                    </div>
                </div>

                <div id="timeline-divider">
                    <div class="timeline-traveller">
                        <div>
                            <i class="fas fa-car-side"></i>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section id="portfolio">
            <h1 class="section-heading mb75px">
                <span>
                    <i class="fas fa-th-list"></i>
                </span>
                <span> Portfolio </span>
            </h1>

            <div id="portfolio-container">

                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png">
                    <div class="portfolio-details">
                        <p>
                            An OCR application using Google Tesseract to fetch text from images and pdf's.
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000026_1550237353_project_2.jpeg">
                    <div class="portfolio-details">
                        <p>
                            Wanderlust: A full stack travelling website built using NodeJS, MongoDB, ExpressJS.
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000029_1550237386_project.jpeg">
                    <div class="portfolio-details">
                        <p>
                            A health chatbot which predicts disease on providing symptoms.
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000027_1550237355_project_3.png">
                    <div class="portfolio-details">
                        <p>
                            An application which hashes and compresses uploaded files when stored.(Cybersecurity Hackathon Project)
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png">
                    <div class="portfolio-details">
                        <p>
                            Telegram and Discord Scraper(Internship Project)
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000028_1550237365_tree.jpeg">
                    <div class="portfolio-details">
                        <p>
                            Email Spam detector.
                        </p>
                    </div>

                </div>

            </div>
        </section>

        <section id="contact">
            <h1 class="section-heading mb50px">
                <span>
                    <i class="far fa-address-card"></i>
                </span>
                <span> Contact </span>
            </h1>
            <div id="contact-container">

                <div id="contact-form-container">
                    <form id="contact-form">
                        <input id="input-name" name="name" type="text" placeholder="Your Name">
                        <input id="input-email" name="input-email" type="text" required placeholder="Your Email">
                        <textarea id="input-message" name="input-message" rows="2" cols=40
                            placeholder="Message"></textarea>
                        <button class="sub-btn" type="submit">SEND MESSAGE</button>
                    </form>
                </div>
                <div id="my-details-container">

                    <h3> Get In touch </h3>
                    <p> Thank you for visiting my personal resume website. If you're interested in my qualifications, would like to discuss potential job opportunities, or just want to connect, please feel free to reach out. I'm always open to new opportunities and collaborations. </p>

                    <h3> My Address </h3>
                    <div class="my-details-info-container">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Kolkata, India</span>
                    </div>
                    <div class="my-details-info-container">
                        <i class="fas fa-mobile-alt"></i>
                        <span>8240413501</span>
                    </div>
                    <div class="my-details-info-container">
                        <i class="far fa-envelope"></i>
                        <span>chatterjeesabyasachi11@gmail.com</span>
                    </div>
                </div>
            </div>

            <div class="text-center social-icons">

                <ul class="horizontal-list">

                    <li>
                        <a href="https://www.linkedin.com/in/sabyasachi-chatterjee">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>


                </ul>
            </div>
        </section>

    </main>

</body>

</html>